{% extends "base.html" %}
{% load static %}

{% block title %}NFC Solutions - NFC Labs{% endblock %}

{% block content %}
<div class="container mt-5 slideIn from-left">
    <div class="content-container">
      {% if page_content %}
        <h1 class="page-title">{{ page_content.title|safe }}</h1>
        <p class="intro-text">
          <div class="rich-content">{{ page_content.content|safe }}</div>
        </p>
      {% endif %}
  </div>

  <div class="solutions-row slideIn from-left">
    {% if solutions %}
      {% for solution in solutions %}
        <div class="solution-card">
          {% if solution.image %}
            <img src="{{ solution.image.url }}" alt="{{ solution.name }}" class="solution-img" >
          {% else %}
            <img src="{% static 'img/solution-placeholder.jpg' %}" alt="{{ solution.name }}" class="solution-img">
          {% endif %}
          <div class="solution-body">
            <h3 class="solution-title">{{ solution.name }}</h3>
            <a href="{% url 'solution_detail' slug=solution.slug %}" class="button-slide">
              <span class="button-slide-decor"></span>
              <span class="button-slide-content">
                <span class="button-slide__icon">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="button-slide__text">Learn More</span>
              </span>
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}