{% extends 'base.html' %}

{% block title %}{{ category.name }} {% endblock %}

{% block content %}

<div class="container slideIn from-left">
    <div class="content-container">
        <a href="{% url 'product_list' %}" class="btn btn-sm mb-3" style="color: var(--nfc-teal); font-size: 1.5rem;">
            <i class="fa fa-arrow-left"></i> Back to products
        </a>   

        <h1 class="page-title">{{ category.name }}</h1>
        <p class="intro-text">
            <div class="rich-content"> {{ category.description | safe }}</div>
        </p>
        
        <div class="row products-grid">
            {% for product in products %}
            <div class="col-md-6 col-lg-6 product-wrapper from-left">
                <div class="product-card">
                    <div class="product-image-container">
                        {% if product.main_image %}
                            <img src="{{ product.main_image.image.url }}" alt="{{ product.name }}" class="product-image">
                        {% elif product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                        {% endif %}
                    </div>
                    <div class="card-body text-center">
                        <h5 class="product-title">{{ product.name }}</h5>

                        <a href="{% url 'product_detail' product.slug %}" class="button-slide">
                            <span class="button-slide-decor"></span>
                            <span class="button-slide-content">
                              <span class="button-slide__icon">
                                <i class="fas fa-info-circle"></i>
                              </span>
                              <span class="button-slide__text">View Details</span>
                            </span>
                            <a></a>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}